{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block body %}
    <div class="row">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    <h1 class="h3 mb-3 font-weight-normal">Register</h1>
                </div>
                <div class="card-body">
                    {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email) }}
                    <div class="m-3"></div>
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                    <div class="m-3"></div>
                    {{ form_row(registrationForm.agreeTerms) }}

                    <button type="submit" class="btn">Register</button>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    {% block javascript %}

    <script>
            document.querySelector('button[type="submit"]').setAttribute("class", "btn btn-primary")
    </script>

    {% endblock %}
{% endblock %}
