<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Home{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{ encore_entry_link_tags('app') }}
        {% block style %}{% endblock %}

    </head>
    <body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{{ path("home") }}">Dif opdracht <i class="bi bi-shield-check"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Home</a>
            </li>
              {% if(is_granted("ROLE_BOEK") or is_granted("ROLE_ADMIN")) or is_granted("ROLE_BALIE") %}
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{ path("factuur") }}">Facatuur</a>
              </li>
              {% endif %}
              {% if(is_granted("ROLE_BOEK")) %}
              {% else %}
                  {% if(is_granted("ROLE_ADMIN")) %}
                      <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="{{ path("view_products_index") }}">Product</a>
                      </li>
                  {% else %}
                      <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="{{ path("product_index") }}">Product</a>
                      </li>
                  {% endif %}
              {% endif %}
              {% if(is_granted("ROLE_BOEK") or is_granted("ROLE_ADMIN")) %}
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{ path("raporteren") }}">Reporteren</a>
              </li>
              {% endif %}
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{ path("contact") }}">Contact</a>
              </li>
              {% if(is_granted("ROLE_ADMIN")) %}
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{{ path("product_index") }}">Admin</a>
                  </li>
              {% endif %}
          </ul>


                <ul class="nav navbar-nav navbar-right">
                    {% if(app.user) %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path("app_logout") }}">Logout <i class="bi bi-person-dash-fill"></i></a>
                        </li>
                    {% else %}
                        <li class="nav-item" style="margin-right: 10px">
                            <a class="nav-link active" aria-current="page" href="{{ path("app_login") }}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path("app_register") }}">Register</a>
                        </li>
                    {% endif %}
                </ul>


        </div>
      </div>
    </nav>
    <main class="container mt-4">
      {% block body %}{% endblock %}
    </main>
        {{ encore_entry_script_tags('app') }}
    	{% block javascript %}{% endblock %}
	</body>
</html>
