<div class="row">
    
    {% set count = 0 %}
    {% for product in products %}
	    <div id="product-{{ product.id }}" class="col-sm-12 col-md-6 col-xl-4 product {% if(count >= 4) %} loadmore-product {% endif %}" {% if(count >= 4) %} style="display: none" {% endif %}>
        <div class="card mb-3">
            <img src="{{  vich_uploader_asset(product, 'imageFile') }}" class="card-img-top" height="180px" alt="">
            <div class="card-body m-3">
                <h5 class="card-title">
                    {{ product.title }}
                </h5>
                <p class="card-text">{{ product.description|length > 50 ? product.description|slice(0, 50) ~ '...' : product.description}}</p>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            {% if(is_granted("ROLE_ADMIN")) %}
                                <a href="{{ path('view_products_show', {'id': product.id}) }}" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                <a href="{{ path('product_edit', {'id': product.id}) }}" type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                            {% else %}
                                <a  class="btn btn-sm btn-outline-secondary" href="{{ path('product_show', {'id': product.id}) }}">View</a>
                            {% endif %}

                        </div>
                        <p class="m-0">Price: €{{ product.price }}</p>
                    </div>
            </div>
        </div>
    </div>
    {% set count = count + 1 %}
    {% endfor %}

    {% if(count >= 4) %}
	    <div class="col d-flex align-items-center justify-content-center">
        	<a id="load-btn" class="btn btn-primary w-100`">Load more</a>
	    </div>
    {% endif %}
</div>

{% block javascript %}
    <script src="{{ asset('js/load.js') }}"></script>
{% endblock %}
